@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    background: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container{
    width: 80%
    margin: 0 auto;
}

header {
    background: #33cccc;

}

.logo{
    float: left;
}