<!-- Second part, sub part a, of the basics -->
<!DOCTYPE html>
<html>
	<head>
		<title>Second HTML Basic</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<h1>Second Basic: Page 2</h1>
		<ul>
			<li class="menu"><a href="{{ url_for('basics2') }}">Home</li>
			<li class="menu">Link 1 </a>
			<li class="menu"><a href="{{ url_for('basics2b') }}"> Link 2 </a>
		</ul>
		<h2> This is page 2</h2>
		<p> Welcome to the second page amigo</p>
	</body>
</html>