<!DOCTYPE html>
<html lang="en">
	<head>
        <!--- Meta tags --->
		<meta charset = "utf-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name = "author" content = "Roberto Cruz" />
        <meta name = "description" content = "A variety of Web Portfolios" />

        <!--- Title --->
        <title>Web Portfolios</title>
        <link href="/styles/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	</head>

    <body>

    <header>
        <div class="container">
            <img src="assets/logo.png" alt="logo" class="logo">

            <nav>
                <!-- Nav Tag -->
                <ul>
                    <!-- Unlinked List for the Navbar links-->
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolios</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>




        </div>

    </header>

    </body>


</html>