<!DOCTYPE html>
<html lang="en">
	<head>
        <!--- Meta tags --->
		<meta charset = "utf-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name = "author" content = "Roberto Cruz" />
        <meta name = "description" content = "A variety of Web Portfolios" />

        <!--- Title --->
        <title>Web Portfolios</title>
        <link rel="stylesheet" href=" {{ url_for('static',filename='styles/style.css') }} ">
<!--        <link rel="stylesheet" href="static/styles/style.css">-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	</head>

    <body>
        <div class="nav">
            <nav class="under" id="home">
                <!-- Nav Tag for Nav Bar -->
                <ul>
                    <!-- Unlinked List for the Navbar links-->
                    <li><a href="{{ url_for('homePage') }}">Home</a></li>
                    <li><a href="{{ url_for('portfolios') }}">Portfolios</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
<!--                    <li><a href="{{ url_for('test') }}">test</a></li>-->
                </ul>
            </nav>
        </div>

    <!-- Masthead -->
        <header class="masthead">
            <div class="container">
                <div class="mastheadSub">Welcome To Our Portfolios</div>
                <div class="mastheadUpper">It's Nice To Meet You</div>
                <a class="tellButton" href="#section1">Tell Me More</a>
            </div>
        </header>

    <h1>Smooth test</h1>
    <div class="main" id="section1">
        <h2>Portfolio</h2>
        <p>Various Dev Portfolio</p>
        <a href="#section2">Click to Smooth Scroll to Section 2</a>
    </div>

    <div class="main" id="section2">
        <h2>Section2</h2>
        <a href="#section1">Click to section 1</a>
    </div>
    <div>
        <a href="#home">
            <img src="{{ url_for('static',filename='assets/uparrow.png') }}", alt="logo" class="logo">
        </a>
    </div>


    </body>


</html>