<!DOCTYPE html>
<html lang="en">
	<head>
        <!--- Meta tags --->
		<meta charset = "utf-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name = "author" content = "Roberto Cruz" />
        <meta name = "description" content = "A variety of Web Portfolios" />

        <!--- Title --->
        <title>Web Portfolios</title>
        <link rel="stylesheet" href=" {{ url_for('static',filename='styles/style.css') }} ">
<!--        <link rel="stylesheet" href="static/styles/style.css">-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<!--        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>-->
	</head>

    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <div class="nav">
            <nav class="under">
                <!-- Nav Tag for Nav Bar -->
                <ul>
                    <!-- Unlinked List for the Navbar links-->
                    <li><a href="{{ url_for('homePage') }}">Home</a></li>
                    <li><a href="#portfolio">Portfolios</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contactUs">Contact Us</a></li>
<!--                    <li><a href="{{ url_for('test') }}">test</a></li>-->
                </ul>
            </nav>
        </div>

    <!-- Masthead -->
        <header class="masthead">
            <div class="container">
                <div class="mastheadSub">We Are a Team of Passionate Developers!</div>
                <div class="mastheadUpper">Welcome</div>
                <a class="tellButton" href="#portfolio">View The Portfolios</a>
            </div>
        </header>

    <div class="main" id="portfolio">
        <h1>Portfolios</h1>
        <h3>Our Various Developers</h3>
        <!-- 4 Portfolio Area -->
        <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="team-member">
                            <a href="#"><img class="mx-auto rounded-circle" src="{{ url_for('static',filename='assets/professor.png') }}" alt="" /></a>
                            <h4>Roberto Cruz Estrella</h4>
                            <h5>Electrical and Computer Engineer</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="team-member">
                            <a href="#"><img class="mx-auto rounded-circle" src="{{ url_for('static',filename='assets/doctor.png') }}" alt="" /></a>
                            <h4>Argenis Reyes</h4>
                            <h5>B.S - Information Technology</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="team-member">
                            <a href="#"><img class="mx-auto rounded-circle" src="{{ url_for('static',filename='assets/lightning.png') }}" alt="" /></a>
                            <h4>Johanna Jerez Garcia</h4>
                            <h5>B.S - Computer Science</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="team-member">
                            <a href="#"><img class="mx-auto rounded-circle" src="{{ url_for('static',filename='assets/spideyboy.png') }}" alt="" /></a>
                            <h4>Christian Martinez</h4>
                            <h5>B.S - Computer Science</h5>
                        </div>
                    </div>
        </div>

    </div>

    <!-- The About Section -->
    <div class="main" id="about">
        <h2>About Us</h2>

    </div>

    <!-- Contact Us -->
    <div class="main" id="contactUs">
        <h2>Contact Us</h2>

    </div>



    <!-- Scroll to top Button -->

    <div id="topButton">
        <a href="#"><img class="top" src="{{ url_for('static',filename='assets/uparrow.png') }}"></a>
    </div>




    </body>


</html>



