/*  ###### Style for the Navigation bar ###### */
#navbar {
    overflow: hidden;
    background-color: #000;
}

/* Links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Content */
.content{
    padding: 16px;
}

/* Sticky class */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

/* Padding to prevent sudden quick movement */
.sticky + .content{
    padding-top: 60px
}