<!DOCTYPE html>
<html lang="en">
	<head>
        <!--- Meta tags --->
		<meta charset = "utf-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name = "author" content = "Roberto Cruz" />
        <meta name = "description" content = "A variety of Web Portfolios" />

        <!--- Title --->
        <title>Web Portfolios</title>
        <link rel="stylesheet" href=" {{ url_for('static',filename='styles/style.css') }} ">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	</head>

    <body>

    <!-- Header for the Navbar -->
    <header>
        <div class="navbar">
            <a class="nav-link nav-link-ltr" href="#">Home</a>
            <a class="nav-link nav-link-ltr" href="#">About</a>
            <a class="nav-link nav-link-ltr" href="#">Contact</a>
            <a class="nav-link nav-link-ltr" href="#">Blog</a>
        </div>
    </header>

    </body>


</html>