@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.about body{
    margin: 0;
    background: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/*##############################*/
/*##### NAVBAR STARTS HERE #####*/
/*##############################*/

nav {
    width: 100%;
    margin: 0 auto;
    background: #262626;
    padding: 5px 0;
    box-shadow: 0px 5px 0px #dedede;
    display: inline-block;
    position: relative;
    opacity; 0.75;
}

nav {
    border-bottom: 1px solid #bbbbbb;
}

nav:hover{
    opacity: 1;
}

nav.under a:hover{
    color: #00ccff;
    z-index: 1;
}

nav.under a::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #cccccc;
}

nav ul {
    text-align: center;
    list-style: none;
}


nav ul li {
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #f2f2f2;
    margin: 0 10px;
}

nav.under ul li a{
    transition: all .5s;
}

nav.under ul li a::before{
    width: 0%;
    bottom: 10px;
}

nav.under ul li a:hover::before{
    width: 4%;
}

/*##############################*/
/*###### NAVBAR ENDS HERE ######*/
/*##############################*/

/*-----------------------------*/

/*###### Masthead ######*/

header.masthead{
    padding-top: 7.5rem;
    padding-bottom: 6rem;
    text-align: center;
    height: 300px;
}

header.masthead .mastheadSub{
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

header.masthead .mastheadUpper{
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 3.25rem;
    margin-bottom: 2rem;
}

.tellButton{
    text-decoration: none;
    background-color: #00ccff;
    color: #ffffff;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    opacity: .6;
    transition: .3s;
}

.tellButton:hover{
    opacity: 1;
}

.masthead .tellButton{
}


#portfolio{
    height: 850px;
    background-color: #ffffff;
}

#portfolio h1{
    text-align: center;
    top: 1.5rem;
}

#portfolio h3{
    text-align: center;
}


#about{
    height: 500px;
    background-color: yellow;
}

/*#### Top Button #### */

#topButton .top{
    position: fixed;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height:auto;
    background-color: #ffffff00;
    bottom: 30px;
    right: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

/*#### Top Button End ####*/

/*#### Four Porfolio Grid Start ####*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

@media (min-width: 600px) {
    .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .mb-lg-0{
        margin-bottom: 0 !important;
    }
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img{
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid #bbbbbb;

}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.mx-auto {
  margin-right: auto !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mb-4{
  margin-bottom: 1.5rem !important;
}

/*#### Four Porfolio Grid End ####*/
